<style>
  .card-header {
    background-color: #fff;
  }
</style>

<div class="container">
  <div class="row m-t-50">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h2 style="font-weight: 300;">Edit Profile</h2>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          
          <%= render 'shared/error_message', object: f.object %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control', disabled: true %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %> <small>(leave blank if you don't want to change it)</small>
            <%= f.password_field :password, class: 'form-control' %>
            <% if @minimum_password_length %>
              <small><%= @minimum_password_length %> characters minimum</small>
            <% end %>
          </div>
      
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class:'form-control' %>
          </div>

          <hr>
          <div class="form-group">
            <%= f.label :current_password %> <small>(we need your current password to confirm your changes)</small>
            <%= f.password_field :current_password, class:'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit "Update Profile", class: 'btn btn-primary' %>
            <button class="btn btn-success">Cancel</button>
          </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>